.website-name {
  font-size: 40px; /* Adjust the font size as needed */
  color: rgb(26, 20, 80);
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  background-color: lightblue;
  display: inline-block;
  width: 100%;
  animation: up-and-down 4s ease-in-out infinite;
}

@keyframes up-and-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.website-name::before {
  content: "LF";
  font-style: italic;
  color: rgb(193, 220, 238);
  display: inline-block;
  background-color: rgb(11, 9, 78);
  border-radius: 50%;
  padding: 5px;
  margin-right: 5px; /* Add some spacing */
}

/* Navbar styling */
nav {
  background-image: url('https://media.istockphoto.com/id/1435226192/photo/beautiful-particles-with-shallow-depth-of-field-abstract-art-and-craft-background-colors-blue.webp?b=1&s=170667a&w=0&k=20&c=DInnY_lpZw77eImoqZjpxYubda7zTyH5mYQpOrg57Gc=');
  background-size: cover;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 30px;
}

nav ul li:last-child {
  margin-right: 20px;
}

nav ul li a {
  color: #180909;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 45px;
}

nav ul li a:hover {
  color: #f18c06e1;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

nav ul li a.active {
  color: #f18c06e1;
}
/* nav styling end here */

/* forms styling starts here */

.form-details {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.form-container label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-container label > span {
  flex-basis: 30%;
  text-align: right;
  margin-right: 10px;
}

.form-container input {
  flex-basis: 70%;
  width: 100%;
  padding: 5px;
}

.form-container button[type='submit'] {
  margin-top: 10px;
}

.dob-inputs {
  display: flex;
  gap: 10px;
}
/* forms styling ends here */

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  /* align-items: center;  */
  height: 100vh; /* Set the container height to the full viewport height */
}

.item {
  width: 25%; /* Adjust the width as needed */
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
  background-color: rgb(240, 225, 241);
  transition: transform 0.3s ease-in-out;
}

.item:hover {
  transform: scale(1.1);
}


.furniture-image {
  max-width: 100%;
  
  height: auto;
}

.item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.edit-icon-container {
  position: absolute;
  top: 97%;
  right: 5%;
  transform: translateY(-50%);
  background-color: #ccc;
  padding: 5px;
  cursor: pointer;
}

.btn {
  background-color: #6463639c;
}

html,
body {
  margin: 0;
  padding: 0;
}

.homepage-container {
  height: 100vh; /* Set the container height to full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-image {
  background-image: url('https://housing.com/news/wp-content/uploads/2022/11/living-room-furniture-design-compressed-1.jpg'); /* Replace 'your-image-url.jpg' with your actual image URL */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.animated-heading {
  animation: slide-in 3s ease-in-out forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

